h1 {
    color:blue;
}
h2{
    color: royalblue;
}
h3{
    color: seagreen;
}
.box{
   background-color: aqua; 
}
.caja{
    background-color:blueviolet;
}
h4{
    color: chocolate;
}
h5{
    color: darkgreen;
}
#colores{
    background-color: yellow;
}
