li{
    margin: 5px 0 0 0;
}
ul.nav{
    list-style: none;
    display: block;
    width: 200px ;
    position: relative;
    top: 50px;
    left: 100px;
    padding: 60px 0 60px 0;
}
ul.nav li a {
    transition: all 0.3s ease-out;
    background: greenyellow;
    color: #174867;
    padding: 7px 15px 7px 15px;
    border-radius: 10px;
    width: 100px;
    display: block;
    box-shadow: -5px 10px pink;

}
ul.nav li a:hover{
    background: #fff777;
    color: red;
    padding: 7px 15px 7px 30px;
}