a{
    color: green;
    text-decoration: none;
}
a:visited{
   color: greenyellow;
}
a:hover{
    color: indigo;
    background-color:pink;
    text-decoration: underline;
}
a:focus{
    color: #999999;
    text-decoration: dotted;
}
a:active{
    color: saddlebrown;
    background-color: white;
    text-decoration: line-through;

}