#fila1{
    color: teal;
}
#fila2{
    color:yellowgreen;
}
#fila3{
    color:black;
}
#fila4{
    color:orange;
}
#fila5{
    color:blue;
}
#fila6{
    color:gray;
}
#fila7{
    color:gold;
}
#fila8{
    color:red;
}
/* segunda columna*/
td+td{
    background-color:blue ;
}
td+td+td{
    background-color:green ;
}