
    {% extends 'master.html'%}
    {% block contenido %}
    <h2 style="margin-top: 1%;"></h2>
    <form method="POST" style="text-align: center;">{% csrf_token %}
        <input type="text" class="form-control" class="form-label" name="busquedas" placeholder="Ingrese el apellido o nombre de la persona para poder realizar la busqueda dentro de la cooperativa">
        <h1 style="margin-top: 0.6%;"></h1>
        <button class="btn btn-outline-info" type="submit">BUSCAR</button>

    </form>

    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Apellidos</th>
                <th>Nombres</th>
                <th>Correo</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for Cliente in listaClientes %}
            <tr>
                <td><a href="{%url 'modificar_Clientes' Cliente.cedula%}">{{Cliente.cedula}}</a></td>
                <td>{{Cliente.apellidos}}</td>
                <td>{{Cliente.nombres}}</td>
                <td>{{Cliente.correo}}</td>
                <td><a class="btn btn-outline-info" href="{%url 'cuentas' Cliente.cedula%}">CUENTAS</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
