<div style="text-align: center;">
  <h1 style="color:green;">Universidad Nacional de Loja</h1><br>
  <h4 style="color: blue; margin-top: -3%;">Carrera de Ingeniería en Computacion</h4><br>
  <h5 style="color: red; margin-top: -2.5%;">Materia: Desarrollo Basado en Plataformas</h5><br>
  <h6 style="color: white; margin-top: -2%; background-color: #17a2b8; height: 35px; font-size: 25px;">Cooperativa de Ahorro y Credito S.A</h6><br>
  <h6 style="margin-top: -4%;"></h6>
</div>
  