<html>
    <head>
        <meta>
        <title>Cooperativa 2021</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        {% include "header.html" %}

        {% block contenido %}
        {% endblock %}

        {% include "footer.html" %}
    </body>
</html>
